**

!Dockerfile
!.dockerignore
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!network_propagation.py

!mil2het/
!mil2het/**
!modules/
!modules/**
!configs/
!configs/**
!scripts/
!scripts/**
!tests/
!tests/**

**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
